*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

img {
	display: block;
    height: 100%;
    width: 100%;
	object-fit: cover;
    width: 264px;
    height: 260px;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .section {
     
    }
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.hero-title {
    color: #FFF;
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.section-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}

.under-section-title {
color: #2E2F42;
/* Header 3 */
font-size: 20px;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}

.under-section-text {
    color: #434455;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}


/*СЕКЦІЯ ХЕДЕР*/


.page-header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    
    padding: 16px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    min-width: 320px;
    max-width: 1158px;
}

.navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;  
/*margin-right: 76px;*/
padding-top: 16px;
padding-bottom: 16px;
}

.logo-dark {
    color: #2e2f42;
}

.menu-btn {
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
  }
}

.header-link {
    color: #2e2f42;
    display: block;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-decoration: none;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.riska {
   color: #404BBF;
   position: relative;
}

.header-link:hover, 
.header-link:focus {
    color: #404BBF;
}

.riska::after {
    content: "";
    position: absolute;
    transform: translateY(20px);
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    max-width: 261px;
    margin-right: 332px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-list-item {
    display: flex;
}

.nav-contacts {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav-contacts {
      display: none;
    }
  }

.link-cont {
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    list-style-type: none;
    font-style: normal;
}

.link-cont:hover, .link-cont:focus {
    color: #404BBF;
    }    


/*СЕКЦІЯ ГЕРОЙ*/


.hero-page {
max-width: 1440px;
height: 600px;
flex-shrink: 0;
padding: 188px 0 188px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.button {
color:#FFF;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
background: #4D5AE5;
cursor: pointer;
padding: 16px 32px 16px 32px;
border-radius: 4px;
background-color:#4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
height: 56px;
border: none;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container .button {
    display: block;
}

.button:hover {
    background-color: #404BBF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
    background-color: #404BBF;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0;
}


/*Друга секція, ПЕРЕВАГИ*/


.section-perevag {
    max-width: 1440px;
    padding: 120px 0 120px
}

.section-perevag .container {
    justify-content: center;
}

.perevag-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.perevagu-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.perevag-element {
    width: 264px;
}

.perevagu-list .under-section-title {
    margin-bottom: 8px;
}

.perevagu-list .under-section-text {
    text-align: left;
}


/*Третя секція, КОМАНДА*/


.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }
  }

.team {
    list-style-type: none; 
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-element {
    padding: 32px 0;
    background-color: #FFFFFF;
}

.team-element h3 {
    text-align: center;
    margin-bottom: 8px;
}
.team-element p {
    text-align: center;
    margin-bottom: 8px;
}

.team-element .social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.si-element .si-logo {
    margin: 0 auto;
    fill: #f4f4fd;
}

.social-icons .si-element {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.si-element .si-circle {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.si-circle:hover,  .si-circle:focus {
    background-color: #404BBF;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Четверта секція, ПОРТФОЛІО*/


.portfolio {
    max-width: 1440px;
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-list {
    list-style-type: none; 
}

.container .portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
}

.port-service {
    background: #FFF;
    display: flex;
    height: 420px;
    flex-direction: column;
    align-items: inherit;
    flex-shrink: 0;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-service:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.port-service-element {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-service-element h3 {
    margin-bottom: 8px;
}

.port-img {
    position: relative;
    overflow: hidden;
}

.hidden-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li {
    background-color: #FFFFFF;
}

.port-img img {
padding: 0 0;
width: 100%;
height: 100%;
}

.port-img:hover .hidden-text {
    transform: translateX(0);
}

/*ФУТЕР*/
                                                        

.down-page {
    display: flex;
    background-color: #2e2f42;
    padding: 100px 0;
    max-width: 1440px;
    height: 312px;
    flex-shrink: 0;
    gap: 140px;
}
.down-page .container {
    display: flex;
    align-items: baseline;

}

.information {
    display: inline-block;
    margin: 0;
    margin-right: 120px
}

.footer-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    margin-top: 0;
}

.down-page .container:first-child {
    margin-left: 156px;
}

.down-page .infornmation .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.down-section-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17.5px;
}

.information .down-section-text {
    max-width: 264px;
}

.logo-light {
    color: #F4F4FD;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .sm-contacts .social-icons {
    display: flex;
    fill: #FFF;
    gap: 16px;
  } 

 .sm-contacts .si-circle:hover, .sm-contacts .si-circle:focus {
    background-color: #31d0aa;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    color:  #FFF;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
border-color: #4D5AE5;
min-width: 165px;
height: 40px;
cursor: pointer;
border: none;
}

.subscribe-form-icon {
    fill: #fff;
    margin-left: 16px;
}

.wrapper-caption {
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
margin-bottom: 16px;
}

.subscribe-form-input {
width: 264px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #FFF;
padding-left: 16px;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff;
}


.subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-wrapper {
    margin-left: 80px;
}

input[type="email"]::placeholder {
    opacity: 1;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.48px;
}


/*=====================================*\
  # Modal window
\*=====================================*/


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    padding: 40px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
  border-color: #E7E9FC;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover ,
  .modal-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-btn:hover .modal-btn-icon,
  .modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
  }

  .modal-btn-icon {
        fill: #2E2F42; 
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-caption {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    width: 360px;
    margin-bottom: 16px;
    text-align: center;
  }

  .modal-form {
    margin-bottom: 8px;
  }

  .form-label {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }
  .form-field {
    position: relative;
  }

  .form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input:focus {
    border-color: #4D5AE5;
  }
  .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-input:focus + .form-icon {
    fill: #4D5AE5;
  }
  
  .modal-form-last {
    margin-bottom: 16px;
  }

  .form-field-last {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .form-field-last:focus {
    border-color: #4D5AE5;
 }

 .modal-agreement {
    margin-bottom: 24px;
    user-select: none;
 }

.modal-send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: #4D5AE5;
    margin-top: 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-content: center;
    justify-content: center;
}

.privacy-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    }

.privacy-link {
    color: #4d5ae5;
}

#user-privacy:checked + .modal-checkbox > .privacy-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-icon {
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 300ms cubic-bezier(0.8, 0, 0, 1.8) 150ms,
      transform 300ms cubic-bezier(0.8, 0, 0, 1.8) 150ms;
}


/*=====================================*\
  # Mobile menu
\*=====================================*/


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 300ms ease, visibility 300ms ease;
}

.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}

.mobile-menu .menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none; 
    }

.mobile-menu-link.current {
    color: #404BBF;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-contact {
    color:#434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    text-decoration: none;
}

.mobile-menu-contact.accent {
    color: #4D5AE5;
}

.mobile-menu-social-icons {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-icons .si-element {
    width: 40px;
    height: 40px;
}